/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.idea
/storage
composer.lock
/public/uploads/*
!/public/uploads/about-bg.jpg
!/public/uploads/contact-bg.jpg
!/public/uploads/home-bg.jpg
!/public/uploads/post-bg.jpg
!/public/uploads/post-sample-image.jpg